#!/bin/bash
sudo su -
yum update -y
yum install httpd -y
service httpd start
chkconfig httpd on
yum install amazon-efs-utils -y
mount -t efs -o tls ${efs_id}:/ /var/www/html
service httpd restart
echo "<html><h1>TESTE/h1></html>" > /var/www/html/index.html
cd /var/www/html
aws s3 cp index.html s3://${bucket_name}
