#!/bin/bash
sudo yum update -y
sudo yum install httpd -y
sudo service httpd start
sudo chkconfig httpd on
sudo yum install amazon-efs-utils -y
sudo mount -t efs -o tls ${efs_id}:/ /var/www/html
sudo service httpd restart
sudo echo "<html><h1>TESTE/h1></html>" > /var/www/html/index.html
